{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h6>{{ catalog.category }}</h6>
			<h5>{{ catalog.title }}</h5>			
		</div>
		<div class="card-body">
			<p><strong>{% trans "catalog_details" %}</strong>: {{ catalog.details }}</p>
			<p><strong>{% trans "catalog_price" %}</strong>: {{ catalog.price | stringformat:"1.0f" }} ₽</p>
			<p><strong>{% trans "quantity" %}</strong>: {{ catalog.quantity }} {{ catalog.unit }}</p>
		</div>
		<div class="card-footer text-muted">			
		</div>
	</div>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:100px" href="{% url 'catalog_index' coming_id  %}">{% trans "Back" %}</a> 	
	</div>
</div>
{% endblock content %}